.App {
  max-width: 1200px;
  min-width: 576px;
  height: 100%;
  margin: auto;    
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* @media (min-width: 1200px) {
  .main-container {
    max-width: 1360px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    background-color: #f0f0f0;
  }
} */

.main-container {
  max-width: 1360px;
  width: 100%;
  /* height: 100vh; */
  min-height: 100vh;
  overflow: visible;
  margin: 0 auto;
  display: flex;
  background-color: #f0f0f0;
}